asgiref==3.7.2
Django==3.2.21
django-cors-headers==4.1.0
djangorestframework==3.14.0
drf-nested-routers==0.93.4
gunicorn==21.2.0
packaging==23.1
python-decouple==3.8
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3
whitenoise==6.5.0
